* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    background-color: rgba(210, 105, 30, 0.59);
}


#header {
    color: #000;
    background-color: rgba(210, 105, 30, 0.59);
    width: 100%;
    height: 100%;

}

#Galeria {
    color: rgb(230, 216, 216);
    background-color: black;
}

.footer-style{
    color:lightgray; 
    margin-left: 20%;
    margin-right: 20%;
}
.icon-color{
    color:lightgray; 
}



